:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* display: grid;
  place-items: center; */
  height: 100vh;
  background-color: #666;
  /* overflow: hidden; */
}

.contents-btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border: 1px solid grey;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.contents-btn {
  transition: background-color 0.5s;
}

.contents-btn:hover {
  background-color: #d5c499;
}

.flipbook-cnt {
  opacity: 1;
  transition: opacity 1s;
}

.flipbook-cnt.hidden {
  opacity: 0;
}

.spinner {
  animation: 1s spin infinite linear;
}

.navi-icon {
  color: #c6c6c6;
  transition: color 0.2s;
}

.navi-icon:hover {
  color: #fff;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* .hiddenCanvasElement {
  display: none;
}

.react-pdf__Page {
  display: flex;
  justify-content: center;
  background-color: #666 !important;
}

.react-pdf__Page__annotations.annotationLayer {
  left: 50%;
  transform: translateX(-50%);
}

.--right {
  border-left: 0;
  box-shadow: inset 7px 0 30px -7px rgba(104, 104, 104, 0.4);
} */
